@model List<Product>

<section class="product-section pt-50 pb-50">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Products</h2>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="product-card text-center">
                        <div class="product-img">
                            <a href="/Product/Detail/@item.Id">
                                <img src="~/assets/images/products/@item.MainImage"
                                     onmouseover="this.src='@Url.Content("~/assets/images/products/" + @item.HoverImage)'"
                                     onmouseout="this.src='@Url.Content("~/assets/images/products/" + @item.MainImage)'"
                                     alt="@item.Name" />
                            </a>
                        </div>
                        <div class="product-info mt-3">
                            <h5 class="product-name">@item.Name</h5>
                            <span class="product-price text-success">$@item.Price</span>
                            <div class="product-rating mt-1">
                                @for (int i = 0; i < 5; i++)
                                {
                                    <i class="fa fa-star text-warning"></i>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
